<div class="container">
    <div class="jumbotron">
        <h2>Noticias</h2>
        <p>Esta es la sección de noticias de tu aplicación móvil. En la siguiente tabla se muestran las noticias que actualmente los usuarios de tu aplicación móvil pueden leer:</p>
        <table class="table table-striped table-bordered" width="100%" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th width="30%">Título</th>
                    <th width="70%">Descripción</th>
                    <th width="160">Fecha</th>
                    <th width="60">¿Foto?</th>
                    <th width="104">Editar</th>
                    <th width="70">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in news">
                    <td>{{ x.title }}</td>
                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ x.body }}</td>
                    <td>{{ x.date }}</td>
                    <td style="text-align: center;">
                        <span ng-if="x.photoURL != ''">Sí</span>
                        <span ng-if="x.photoURL == ''">No</span>
                    </td>
                    <td>
                        <button class="btn btn-warning" type="button" ng-click="editItem(x.id)">
                            <span class="glyphicon glyphicon-pencil"></span> &nbsp;&nbsp;Editar
                        </button>
                    </td>
                    <td style="text-align: center;">
                        <button class="btn btn-danger" type="button" ng-click="removeItem(x, x.id)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <button class="btn btn-success" ng-click="editItem('new')">
            <span class="glyphicon glyphicon-user"></span>  Publicar nueva noticia
        </button>
        <hr>

        <h3 ng-hide="edit">Publicar nueva noticia:</h3>
        <h3 ng-show="edit">Editar noticia:</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Título:</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" ng-model="title" placeholder="Título">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Cuerpo:</label>
                <div class="col-xs-10">
                    <textarea class="span6 form-control" rows="5" ng-model="body" placeholder="Descripción de la noticia"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Fecha:</label>
                <div class="col-xs-4">
                    <input class="form-control" type="text" ng-model="date" placeholder="DD-MM-AAAA hh:mm">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">URL de foto:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="photoURL" placeholder="URL de foto">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Preview de foto:</label>
                <div class="col-xs-10">
                    <img class="img-responsive" style="max-width: 100%" src="http://placehold.it/850x300&text=No+hay+fotografía+seleccionada" ng-if="photoURL == ''">
                    <img class="img-responsive" style="max-width: 100%" ng-src="{{ photoURL }}" ng-if="photoURL != ''" onerror="this.style.display='none'">
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-click="saveItem()" ng-disabled="incomplete">
            <span class="glyphicon glyphicon-save"></span>  Guardar cambios
        </button>
    </div>
</div>
