<div class="container">
    <div class="jumbotron">
        <h2>Vídeos</h2>
        <p>Esta es la sección de vídeos de tu aplicación móvil. En la siguiente tabla se muestran los vídeos que actualmente los usuarios de tu aplicación móvil pueden ver:</p>
        <table class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Enlace a Youtube</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in videos">
                    <td>{{ x.title }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.youtubeURL }}</td>
                    <td width="90">
                        <button class="btn btn-warning" type="button" ng-click="editItem(x.id)">
                            <span class="glyphicon glyphicon-pencil"></span> &nbsp;&nbsp;Editar
                        </button>
                    </td>
                    <td width="50">
                        <button class="btn btn-danger" type="button" ng-click="removeItem(x, x.id)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>
        <button class="btn btn-success" ng-click="editItem('new')">
            <span class="glyphicon glyphicon-user"></span>  Publicar nuevo vídeo
        </button>
        <hr>

        <h3 ng-hide="edit">Publicar nuevo vídeo:</h3>
        <h3 ng-show="edit">Editar vídeo:</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Título:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="title" placeholder="Título">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Descripción:</label>
                <div class="col-xs-10">
                    <textarea class="span6 form-control" rows="5" ng-model="description" placeholder="Descripción del vídeo"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Youtube URL:</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" ng-change="changedYoutubeURLEvent()" ng-model="youtubeURL" placeholder="Enlace a vídeo de Youtube">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label">Preview de vídeo:</label>
                <div class="col-xs-10">
                    <img class="img-responsive" style="max-width: 100%" src="http://placehold.it/850x300&text=No+hay+vídeo+seleccionado" ng-if="!isValidYoutubeURLLink">
                    <div my-youtube code="code" ng-if="isValidYoutubeURLLink"></div>
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-click="saveItem()" ng-disabled="incomplete">
            <span class="glyphicon glyphicon-save"></span>  Guardar cambios
        </button>
    </div>
</div>
